<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<body>
	<div>
		<h3>부서정보 조회</h3>
		
		<div>
			<label for="deptId">부서번호</label>
			<input type="number" id="deptId" th:value="${dept.departmentId}" readonly>
		</div>
		
		<div>
			<label for="deptName">부서명</label>
			<input type="text" id="deptName" th:value="${dept.departmentName}" readonly>
		</div>
		
		<div>
			<button type="button" th:onclick="/location.href='@{/deptUpdate(departmentId=${dept.departmentId})}'|">수정</button>
			<button type="button" th:onclick="/location.href='@{/deptList}'|">목록</button>
			<button type="button" th:onclick="/location.href='@{/deptDelete(departmentId=${dept.departmentId})}'|">삭제</button>
		</div>
		
	</div>
</body>
</html>